
client/iOS/.DS_Store

client/iOS/.idea/workspace.xml

client/iOS/Flip4Friends.xcodeproj/project.xcworkspace/xcuserdata/matthiasschicker.xcuserdatad/UserInterfaceState.xcuserstate

client/iOS/.idea/dictionaries/matthiasschicker.xml

client/iOS/Flip4Friends.xcodeproj/xcuserdata/matthiasschicker.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

client/iOS/.idea/find.xml

client/iOS/Flip4Friends.xcodeproj/project.xcworkspace/xcuserdata/matthiasschicker.xcuserdatad/WorkspaceSettings.xcsettings
